"""
{{ description }}
"""

import grpc
from typing import Callable
from audiomessages import AudioMessage, Metadata
from {{ module_name }} import {{ proto_file_name }}, {{ proto_file_name }}_grpc

class {{ service_name }}Servicer({{ proto_file_name }}_grpc.{{ service_name }}Servicer):
    """Implementation of {{ service_name }} service."""
    
    def __init__(self, {{ handlers_init_args }}):
        """Initialize the servicer."""
        {{ handlers_init_assignments }}
{{ service_methods }}
